name: Flutter CI

on:
  push:
    branches: [master, dev, main]
  pull_request:
    branches: [master, dev, main]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: "3.0.4"
      - run: flutter pub get
      - run: flutter test
      - run: flutter analyze
      - run: flutter format -n --set-exit-if-changed .
      - run: flutter build apk
      - run: flutter build ios --release --no-codesign
      - uses: actions/upload-artifact@v1
        with:
          name: release-apk
          path: build/app/outputs/apk/release/app-release.apk
